:root {
    font-size: calc(96% + min(8px, 0.2vh));
}
@media only screen and (max-width: 599px) { /* 600 makes one pixel have a too big font size */
    :root {
        font-size: calc(96% + min(8px, 0.5vh));
    }
    .code {
        font-size: 0.8rem;
    }
}
/* Make hamburger:
 - Not scroll if closed
 - Scroll if open
 Only affects mobile
*/
.hamburger-container {
    position: absolute;
}
#hamburger-check:checked ~ .hamburger-container {
    position: fixed;
}
.open-hamburger {
    position: absolute;
}
#hamburger-check:checked ~ .open-hamburger {
    position: fixed;
}
.hamburger-content {
    width: calc(100% - 5rem);
}

.main-article {
    margin: 0;
    padding: 0;
}
.article-title-bg {
    background-color: #FB3640;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -2px 9px rgba(0, 0, 0, 0.25); 
    padding: 0.8rem;
    position: relative;
}
.article-title {
    margin:0;
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
}

/* Don't do the red background for the title if on desktop. */
@media only screen and (min-width: 600px) {
    .article-title-bg {
        background-color: unset;
        box-shadow: none;
    }
    .article-title {
        color: black;
        text-align: center;
        margin: 0.8rem auto;
        font-size: 3rem;
        width: min(60rem, calc(100%));
    }
    .hamburger-content {
        width: 50%;
    }
}
.header-image-container {
    height:45vh;
    width: min(80ch, calc(100%));
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
@media only screen and (min-width: 600px) {
    .header-image-container {
        height:52vh;
    }
}
.header-image {
    min-width:100%;
    max-width:140%;
    height: 100%;
    position: absolute;
    bottom: 0;
    z-index: -1;
    object-fit: cover;
}
.red-bg {
    /* Override the default gradient: looks weird with the drop shadows on mobile */
    background: var(--accent);
}
@media only screen and (min-width: 600px) {
    .red-bg {
        background: linear-gradient(180deg, var(--dark-accent) 0%, var(--accent) 90%);
    }
}

p {
    font-size: 1.1rem;
}

/* Full bleed layout from https://www.joshwcomeau.com/css/full-bleed/ */
.content {
    display: grid;
    grid-template-columns:
      1fr
      min(65ch, calc(100% - 64px))
      1fr;
    column-gap: 32px;
}
.content > * {
    grid-column: 2;
}
.bleed {
    max-width: 100%;
    grid-column: 1 / 4;
    max-height:70vh;
    margin-left: auto;
    margin-right: auto;
}
img.bleed {
    max-height: 50vh;
}
.code {
    background-color: rgb(248, 248, 248);
    border-radius: 4px;
    padding: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
}
code {
    background-color: rgb(248, 248, 248);
    border-radius: 4px;
    padding: 0.1rem 0.2rem;
    font-family: 'Roboto Mono', monospace;
}
code a.custom-color {
    color: inherit;
}
ul {
    font-size: 1.1rem;
}

/* Talk or read more */
.torm {
    text-align: center;
}
.torm h3 {
    font-size: 1.5rem;
    margin: 1rem 0;
}

/* Similar article suggestions */
.similar article {
    width: min(90%, 20rem);
    margin: 0 max(0.5rem, 1%);
}
.article-anchor {
    text-decoration: none;
    color: black;
    display: grid;
    grid-template-rows: 1fr 5rem;
}
.similar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3rem;
}
.similar-thumb {
    width:100%;
    height:30vh;
    object-fit: cover;
}
.similar-title {
    font-size: 1.4rem;
    text-align: center;
    display: inline-block;
    margin:0.8rem 0;
}

.connect {
    width: min(90%, calc(20rem + 5%));
    margin: 0 auto;
    background-color: #F3F3F3;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 1rem 0;
    font-size: calc(100% + 0.2vw);
}
.connect h2 {
    font-size: 1.3em;
    text-align: center;
    margin:0;
}

.logos {
    text-align: center;
    margin: 1rem auto;
    margin-bottom: 0;
    width:80%;
    display: flex;
    justify-content: space-around;
}
.logos a {
    text-decoration: none;
    display: inline-block;
}