[submodule "src/portfolio/spaghetti-script"]
	path = src/portfolio/spaghetti-script
	url = https://github.com/UltimatePro-Grammer/spaghetti-script
[submodule "src/portfolio/study-bio-final"]
	path = src/portfolio/study-bio-final
	url = https://github.com/UltimatePro-Grammer/study-bio-final.git
	branch = build
