[submodule "public/portfolio/spaghetti-script"]
	path = public/portfolio/spaghetti-script
	url = https://github.com/NateLevin1/spaghetti-script
[submodule "public/portfolio/study-bio-final"]
	path = public/portfolio/study-bio-final
	url = https://github.com/NateLevin1/study-bio-final.git
	branch = build
[submodule "public/portfolio/ChoanoSim"]
	path = public/portfolio/ChoanoSim
	url = https://github.com/NateLevin1/ChoanoSim
	branch = build
