body {
    margin: 0;
    scroll-behavior: smooth;
    --accent: #FB3640;
    --dark-accent: #D6020D;
    --accent-2: #07beb8;
    --accent-3: #3e53f4;
    --font-title: 'Lato', sans-serif;
    --font-regular: 'Noto Sans', sans-serif;
    font-family: var(--font-regular);
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4 {
    font-family: var(--font-title);
}

/* HAMBURGER MENU */
.hamburger {
    width: 100%;
    height: 100%;
    transition: transform 0.2s;
    display: block;
    position: relative;
    cursor: pointer;
}
.hamburger-container {
    position: fixed;
    top: 0.8em;
    left: 1em;
    width: 2em;
    height: 2em;
    z-index: 4;
    padding: 0.7rem;
    background-color: var(--dark-accent);
    border-radius: 999px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    user-select: none;
    -webkit-user-select: none;
}
#hamburger-check {
    display: none;
}
#hamburger-check:checked ~ .hamburger-container .hamburger {
    transform: rotate(-90deg);
}
#hamburger-check:checked ~ .open-hamburger {
    display: block;
    align-items: center;
    animation: come-in 0.3s ease-out 0.01s both;
}
.hamburger::before {
    content: '';
    position: absolute;
    top:0;
    width: 100%;
    height:19%;
    border-top: 7px solid white;
    border-bottom: 7px solid white;
}
.hamburger::after {
    content: '';
    position: absolute;
    bottom:0;
    width: 100%;
    border-top: 7px solid white;
}
.open-hamburger {
    width: 100%;
    height: 5rem;
    position: fixed;
    top:0;
    left:0;
    background-color: var(--dark-accent);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 3;
    display: none;
}
.hamburger-link {
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    font-size: calc(0.7rem + 3vw);
}
.hamburger-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    right:0;
    width: calc(100% - 4rem);
    height:100%;
}

.red-bg {
    width: 100%;
    height:5rem;
    background: linear-gradient(180deg, var(--dark-accent) 0%, var(--accent) 29.17%);
}

.title {
    position: absolute;
    color: white;
    font-weight: bold;
    top:0.6rem;
    left: 1.5em;
    margin:0;
    text-align: center;
    width:calc(100% - 2em);
    font-size: 3.2rem;
    white-space: nowrap;
    overflow: hidden;
}
.title a {
    color: white;
}

@media only screen and (min-width: 600px) {
    .hamburger-container {
        display: none;
    }
    .title {
        left:1.5rem;
        text-align: unset;
        display: inline-block;
        width: unset;
    }
    .open-hamburger {
        display: block;
        width: 100%;
        height: 5rem;
        background-color: unset;
        box-shadow: none;
        position: absolute;
        pointer-events: none;
    }
    .hamburger-content {
        height: 5rem;
        width:50%;
        pointer-events: visible;
    }
    .hamburger-link {
        font-size: calc(1.7rem - calc(10px - min(1vw, 10px)));
        /* font-size: 1.7rem; */
    }
}
@keyframes come-in {
    from {
        opacity: 0;
        transform: translateY(-5rem);
    }
    to {
        transform: translateY(0em);
        opacity: 1;
    }
}

/* FOOTER */
footer {
    background-color: var(--accent);
    width: 100%;
    color: white;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.4rem;
    box-sizing: border-box;
    margin-top: 3rem;
}
.back-to-top {
    text-decoration: none;
    color: white;
    font-size:1.4rem;
}
.copyright {
    font-style: normal;
    font-size:1rem;
}
