a {
    color: var(--accent);
}
.ud {
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: text-decoration-color 0.1s; /* Not supported in safari. oh well */
    text-decoration-thickness: 3px; /* Only supported in safari & firefox; already 3px in chrome */

    background-position: 0 1.11em;
    background-repeat: repeat-x;
    background-size: 3px 9px;
}
a.custom-color .ud {
    color: inherit;
}

h1 a:not(.no-underline) .ud, h2 a:not(.no-underline) .ud, h3 a:not(.no-underline) .ud, h4 a:not(.no-underline) .ud {
    background-position: 0 1.04em;
}