---
import WorkFloaterItem from "./WorkFloaterItem.astro";
---

<div class="sticky top-0 self-start translate-x-48 pt-16 h-screen mt-29 -ml-16">
    <div class="font-body hidden xl:block animate-in h-full">
        <div
            class="absolute left-0 top-0 w-1 h-full bg-work-floater-bg rounded-full"
        >
        </div>
        <div class="flex flex-col justify-between h-[calc(100%-2rem)]">
            <WorkFloaterItem href="#cs-research">CS Research</WorkFloaterItem>
            <WorkFloaterItem href="#independence-ed">
                Independence Education
            </WorkFloaterItem>
            <WorkFloaterItem href="#bridge-practice">
                Bridge Practice
            </WorkFloaterItem>
            <WorkFloaterItem href="#cs-club">CS Club</WorkFloaterItem>
            <WorkFloaterItem href="#dj-business">DJ Business</WorkFloaterItem>
            <WorkFloaterItem href="#aps-hspc">APS HSPC</WorkFloaterItem>
            <WorkFloaterItem href="#ctae-board">CTAE Board</WorkFloaterItem>
        </div>
    </div>
</div>
