/* Global Styles */
* {
    box-sizing: border-box;
}
body {
    font-family: "Lato", sans-serif;
    margin: 0;
    background-color: rgba(57, 194, 255, 1);
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
}

/* Utility classes */
.light {
    font-weight: 300;
}
.bold {
    font-weight: 600;
}
.bolder {
    font-weight: 900;
}
.glass {
    border: 4px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 4px;
    color: white;
}
.bg {
    overflow: hidden;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.bg img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    min-width: 100vw;
    min-height: 90vh;
}
.text-shadow-md {
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.3));
}
.text-shadow-lg {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
}
.page-content {
    position: absolute;
    top: 0;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    color: white;
    display: grid;
    grid-template-columns: min(16.5vw, 6rem) min(22.5vw, 8rem) min(16.5vw, 7rem) 1fr min(
            35vw,
            12rem
        );
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
    padding: 0.25rem;
    font-size: min(3vw, 1rem);
}
footer a {
    color: white;
}
.c-notice {
    grid-column: 5;
}
header {
    background-color: rgba(57, 194, 255, 0.71);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    color: white;
    height: 4rem;
    width: 100vw;
    display: grid;
    grid-template-columns: 4rem 1fr 7rem;
    align-items: center;
    padding: 0 0.5rem;
    position: fixed;
    z-index: 10;
}
.header-text {
    font-size: 1.7rem;
    text-decoration: none;
    color: white;
    white-space: nowrap;
    overflow: hidden;
}
.header-logo {
    height: 3.5rem;
}

@media screen and (min-width: 1000px) {
    .header-text {
        font-size: 2rem;
    }
}

.divider {
    height: 1rem;
    width: 100vw;
    position: absolute;
    top: -0.5rem;
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}
