---
import Link from "../components/Link.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import WorkHeader from "../components/WorkHeader.astro";
import WorkLocation from "../components/WorkLocation.astro";
import WorkDesc from "../components/WorkDesc.astro";
import WorkSpacer from "../components/WorkSpacer.astro";
import HeaderLink from "../components/HeaderLink.astro";
import ScrollNavbar from "../components/ScrollNavbar.astro";
import Image from "../components/Image.astro";
import Video from "../components/Video.astro";
import { Content as MyStory } from "./my-story.md";
---

<Layout>
    <ScrollNavbar />
    <div class="px-[10vw] max-w-[calc(20vw+900px)] mx-auto">
        <div
            class="h-[calc(85vh-5rem)] font-title flex justify-center flex-col gap-12"
        >
            <div
                class="text-[17vw] sm:text-[7rem] md:text-[calc(8rem+1vw)] leading-[6rem] sm:leading-[8rem] animate-in relative w-max"
                id="name"
            >
                <div class="absolute inset-0 -z-10 pointer-events-none">
                    <div
                        class="w-full h-full scale-125 flex items-center justify-center animate-signature-in animation-delay-800 opacity-0"
                    >
                        <img
                            src="/images/signature.svg"
                            alt=""
                            class="min-[600px]:opacity-10 min-[350px]:blur min-[350px]:opacity-20 blur-sm opacity-[.15]"
                            draggable="false"
                        />
                    </div>
                </div>
                <h1>Nate Levin</h1>
            </div>
            <p
                class="text-3xl md:w-2/3 lg:w-1/2 animate-in animation-delay-150 opacity-0"
            >
                Software engineer.
                <span class="lg:inline block">Driven to create.</span>
                <span class="xl:block">Motivated by impact.</span>
            </p>
            <div
                class="flex gap-4 sm:items-center text-2xl animate-in animation-delay-150 opacity-0 flex-col sm:flex-row"
            >
                <HeaderLink href="#my-story">My Story</HeaderLink>
                <div
                    class="bg-black w-[5px] h-[5px] rounded-full hidden sm:block"
                >
                </div>
                <HeaderLink href="#my-work">My Work</HeaderLink>
                <div
                    class="bg-black w-[5px] h-[5px] rounded-full hidden sm:block"
                >
                </div>
                <HeaderLink href="mailto:natelevindev@gmail.com"
                    >Contact</HeaderLink
                >
            </div>
        </div>
        <Header id="my-story" class="animate-in animation-delay-300 opacity-0">
            My Story
        </Header>
        <div
            class="font-body max-w-[60ch] flex flex-col gap-10 text-lg animate-in animation-delay-500 opacity-0 text-pretty"
        >
            <MyStory />
        </div>
        <Header id="my-work">My Work</Header>
        <div class="max-w-[45rem]">
            <WorkHeader>Computer Science Research Intern</WorkHeader>
            <WorkLocation>
                at the SEAR Lab, George Mason University Department of Computer
                Science
            </WorkLocation>
            <WorkDesc>
                <p>
                    Invented new algorithm and technique, ~8x better than
                    existing solutions. Wrote and submitted paper to the 2025
                    International Conference on Software Engineering. Led the
                    project, directed work of team.
                </p>
            </WorkDesc>

            <div class="grid grid-cols-2 gap-8 sm:w-4/5 lg:w-2/3 mx-auto">
                <Image
                    src="/images/takuan-abstract.webp"
                    caption="Takuan's abstract summary"
                />
                <Image
                    src="/images/takuan-paper.webp"
                    caption="The first page of the Takuan research paper"
                />
                <Image
                    src="/images/sear-lab.webp"
                    caption="Attending a presentation during the summer of 2023"
                />
                <Image
                    src="/images/assip-presentation.webp"
                    caption="Research poster at the 2024 ASSIP presentation day"
                />
            </div>

            <WorkSpacer />

            <WorkHeader>Software Developer & Cofounder</WorkHeader>
            <WorkLocation
                >at Independence Education (<Link
                    href="https://independenceed.com"
                    target="_blank">independenceed.com</Link
                >)
            </WorkLocation>
            <WorkDesc>
                <p>
                    Created flagship web app underlying software & student
                    coaching business, driving thousands in annual revenue. Work
                    with customers and industry professionals.
                </p>
            </WorkDesc>

            <div class="sm:w-4/5 lg:w-2/3 mx-auto">
                <Video
                    src="/images/independence-education-demo.mp4"
                    caption="A short demo of the Independence Education web application"
                />
            </div>

            <WorkSpacer />

            <WorkHeader>Founder, Community Manager & Lead Developer</WorkHeader>
            <WorkLocation>
                at BridgePractice (Online Game Server and Discord Community)
            </WorkLocation>
            <WorkDesc>
                <p>
                    Coded new Minecraft server & games. Over 125,000 unique
                    players. Hired 12 moderators, handled disputes, added
                    monetization. Sold business in early '23.
                </p>
            </WorkDesc>

            <div class="sm:w-4/5 lg:w-2/3 mx-auto">
                <Video
                    src="/images/bridge-practice-demo.mp4"
                    caption="A trailer for the BridgePractice Minecraft server (produced in 2023)"
                />
                <div class="grid grid-cols-2 mt-6 gap-8 items-center">
                    <Image
                        src="/images/bp-website.webp"
                        caption="The BridgePractice website"
                    />
                    <Image
                        src="/images/bp-leaderboard.webp"
                        caption="A screenshot of the in-game leaderboard"
                    />
                </div>
            </div>

            <WorkSpacer />

            <WorkHeader>
                Leader, Founder of the Computer Science Club
            </WorkHeader>
            <WorkLocation>at Yorktown High School (Arlington, VA)</WorkLocation>
            <WorkDesc>
                <p>
                    Lead weekly meetings for over 40 members. Create weekly
                    challenges, help CS students, organize teams, and
                    participate in 5 competitive programming events.
                </p>
            </WorkDesc>

            <div class="sm:w-4/5 lg:w-2/3 mx-auto">
                <Image
                    src="/images/yhs-csc.webp"
                    caption="The Computer Science Club's homepage I developed"
                />
            </div>

            <WorkSpacer />

            <WorkHeader>DJ & Business Operator</WorkHeader>
            <WorkLocation>
                of Nate Levin DJ (<Link
                    href="https://natelevindj.com"
                    target="_blank">natelevindj.com</Link
                >)
            </WorkLocation>
            <WorkDesc>
                <p>
                    Over 5 years DJing 50+ local events, with consistently
                    outstanding reviews. Manage client relationships with
                    businesses, nonprofits, and private parties.
                </p>
            </WorkDesc>

            <div class="sm:w-4/5 lg:w-2/3 mx-auto">
                <Image
                    src="/images/natelevindj.webp"
                    caption="The promotional site I created for my DJing business"
                />
            </div>

            <WorkSpacer />

            <WorkHeader>Board Member (Student Representative)</WorkHeader>
            <WorkLocation>
                at the Career, Technical, and Adult Education (CTAE) Board,
                Arlington Public Schools
            </WorkLocation>
            <WorkDesc>
                <p>
                    Sole student representative to school district's CTAE
                    advisory board. Vote, propose, and comment on technical
                    programs for future students.
                </p>
            </WorkDesc>
        </div>
        <Header id="contact">Contact</Header>
        <p class="font-body text-xl">
            Please email me at <Link href="mailto:natelevindev@gmail.com"
                >natelevindev@gmail.com</Link
            > with any inquiries.
        </p>
    </div>
</Layout>
