---
---

<nav class="flex justify-between items-center w-full h-10 px-4 bg-gradient-to-b from-background to-background/60 backdrop-blur-lg fixed top-0 z-10 text-2xl opacity-0" id="navbar">
    <a href="/" class="font-title pl-[1px]">Nate Levin</a>
    <div class="text-lg flex gap-4 font-title">
        <a href="#my-story">Story</a>
        <a href="#my-work">Work</a>
        <a href="mailto:natelevindev@gmail.com">Contact</a>
    </div>
</nav>

<script>
    // appear after we get below the fold
    const navbar = document.getElementById("navbar")!;
    const name = document.getElementById("name")!;
    let navbarShown = false;

    const observer = new IntersectionObserver(
        (entries) => {
            entries.forEach((entry) => {
                if (entry.isIntersecting) {
                    if(!navbarShown) return;
                    navbarShown = false;
                    navbar.animate([{ opacity: 1 }, { opacity: 0, filter: "blur(16px)", transform: "translateY(-1rem)", offset: 0.99}, { opacity: 0 }], {
                        duration: 400,
                        fill: "forwards",
                        easing: "ease-out"
                    });
                } else {
                    if(navbarShown) return;
                    navbarShown = true;
                    navbar.animate(
                        [
                            {
                                opacity: 0,
                                transform: "translateY(-1rem)",
                                filter: "blur(16px)",
                            },
                            { opacity: 1 },
                        ],
                        {
                            duration: 400,
                            fill: "forwards",
                            easing: "ease-out",
                        }
                    );
                }
            });
        },
        { threshold: 0.2 }
    );

    observer.observe(name);
</script>