---
import WorkArrow from "../assets/work-arrow.svg";
---

<div class="font-body mt-1 flex gap-2 pl-1.5 items-start">
    <img src={WorkArrow.src} alt="" />
    <p class="text-black/70 text-pretty"><slot /></p>
</div>
